<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add product to stock</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
</head>
<body>
<div id="nav-placeholder">

</div>

<script>
$(function(){
  $("#nav-placeholder").load("nav.html");
});
</script>
<div class="marg">
<form class = "form-floating" method="post" action="/admin/add" th:object="${product}">
    <div class="row">
    <div class="mb-3 col-3">
    <label class="form-label" for="productId">Product ID</label>
    <input class="form-control" id ="productId" type="text" th:field="*{productId}">
    </div>
    <div class="mb-3 col-3">

    <label class="form-label" for="productName">Product Name</label>
    <input class="form-control" id = "productName" type="text" th:field="*{productName}">
    </div>
    </div>
    <div class="row">

    <div class="mb-3 col-3">

    <label class="form-label" for="productDescription">Product Description</label>
    <input class="form-control" id ="productDescription" type="text" th:field="*{productDescription}">
    </div>
    <div class="mb-3 col-3">

    <label class="form-label" for="price">Price</label>
    <input class="form-control" id="price" type="text" th:field="*{productPrice}">
    </div>
    </div>
    <div class="row">
    <div class="mb-3 col-3">
    <label class="form-label" for="productCategory">Product Category</label>
    <input class="form-control" id="productCategory" type="text" th:field="*{productCategory}">
    </div>
    </div>
    <br>
    <div class="row">
        <div class="mb-3 col-3">

        <button class="btn btn-lg btn-primary" type="submit">Add product</button>
            </div>
    </div>
</form>
</div>
</body>
</html>