<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add product to stock</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">

</head>
<body>

<form class = "form-floating" method="post" action="/admin/add" th:object="${product}">
    <div class="row">
    <div class="mb-3 col-3">
    <label class="form-label" for="productId">Product ID</label>
    <input class="form-control" id ="productId" type="text" th:field="*{productId}">
    </div>
    <div class="mb-3 col-3">

    <label class="form-label" for="productName">Product Name</label>
    <input class="form-control" id = "productName" type="text" th:field="*{productName}">
    </div>
    </div>
    <div class="row">

    <div class="mb-3 col-3">

    <label class="form-label" for="productDescription">Product Description</label>
    <input class="form-control" id ="productDescription" type="text" th:field="*{productDescription}">
    </div>
    <div class="mb-3 col-3">

    <label class="form-label" for="price">Price</label>
    <input class="form-control" id="price" type="text" th:field="*{price}">
    </div>
    </div>
    <div class="row">

    <div class="mb-3 col-3">
    <label class="form-label" for="productCategory">Product Category</label>
    <input class="form-control" id="productCategory" type="text" th:field="*{productCategory}">
    </div>
    </div>
    <br>
    <div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add product</button>
    </div>
</form>

</body>
</html>