<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
</head>
<body>
<div class="marg">
    <a href="/allProducts">Back to products</a>
</div>
<table id="cart">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tr th:each="product : ${session.cart}" th:unless="${session.cart.isEmpty()}">
        <td th:text="${product.productName}">Title</td>
        <td th:text="${#numbers.formatDecimal(product.price,1,2)}"></td>
        <td><a th:href="'/removeproduct?id=' + ${product.productId}">Remove</a></td>
    </tr>
    <tfoot>
    <tr>
        <th rowspan="1">Total</th>
        <th th:text="${#numbers.formatDecimal(session.sum,1,2)}"></th>
        <th></th>
    </tr>
    </tfoot>
</table>

<div class="marg">
<a href="/checkout" th:unless="${session.cart.isEmpty()}" class="link-warning">Checkout</a>
</div>

</body>
</html>