<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<a href="/allProducts">Back</a>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
        </tr>
    </thead>
    <tr th:each="product : ${session.cart}" th:unless="${session.cart.isEmpty()}">
        <td th:text="${product.productName}">Title</td>
        <td th:text="${product.price}">Price</td>
        <td><a th:href="'/removeproduct?id=' + ${product.productId}">Remove</a></td>
    </tr>
    <tr>
        <td rowspan="3">Grand total</td>
        <td th:text="${session.sum}"></td>
    </tr>
</table>
</body>
</html>