<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <title th:text="${product.productName}"></title>
</head>

<body>

<p><a href="/allProducts">Back to all products</a></p>

<p class="productNameTxt" th:text="${product.productName}">Product Name</p>

<div>
    <p><img class="productImage" th:src="'images/' + ${product.productId} + '.jpg'" th:alt="${product.productName}"/></p>
    <p class="priceTxt" th:text="${#numbers.formatDecimal(product.price,1,2)} + ' kr'"></p>
    <p class="descriptionTxt" th:text="${product.productDescription}"></p>
    <p class="categoryTxt" th:text="${product.productCategory}"></p>
</div>

<div>

</div>

</body>
</html>